@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background-color: #111827;
  color: #f9fafb;
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    sans-serif;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #374151 #1f2937;
}
